<!doctype html>
<html lang="en" data-ng-app="HoliDays">
	<head>
		<title>{{ Holiday.title }}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
		<script src="./js/holidays.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudfLare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
		<style type="text/css">
			.wrapper { max-width: 600px; margin: 0 auto; }
			.topspace { margin-top: 10px; }
		</style>
	</head>

	<body>
		<section data-ng-controller="HolidayController as Holiday" class="wrapper">
			<h2>{{ Holiday.title }}</h2>
			<input 
				data-ng-model="year"
				placeholder="ANO">
			<div>
				<button 
					class="btn btn-large green waves-effect waves-light col s12"
					data-ng-click="Holiday.findHoliday(year)">
						PESQUISAR
				</button>
			</div>
			<table class="topspace">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Data</th>
						<th>Dia da semana</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="holiday in Holiday.result">
						<td>{{ holiday.name | uppercase }}</td>
						<td>{{ holiday.date }}</td>
						<td>{{ holiday.wkday | brDate }}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</body>
</html>
